html{
    box-sizing: border-box;

}
body{
    margin: 0; 
    font-family: 'Roboto', sans-serif;
}

/* MĚL JSI ASI PRAVDU TEN MARGIN NULA JE NEJLEPŠÍ DAT DO TÝ HVĚZDIČKY JINAK JE FURT MAJ TY ELEMENTY */
*{
    margin: 0; 
}



nav a{
    text-decoration: none;
    color: black;
    margin-right: 1em;
    font-weight: bold;
}
nav{
    text-align: center;
    background-color:#FFFFFF;
    padding-top: 1em;
    padding-bottom: 1em;
}
.home{
    background-image: url(/graphics/banner.jpg);
    height: 20em;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}

h1{
    color: white;
    width: fit-content;
    border-bottom: 3px solid white;

    position: absolute;
    left: 15vw;
    top: 15vh;
}


.B{
    color:#FFE964;
}
.I{
    color:#FF523D;
}
.K{
    color:#223C88;
}
.mission{
    background-color:#FFE964;
    height: 40vh;
   
}


h2{
    padding-left: 15vw;
    padding-top: 1em;
    padding-bottom: 1em;
}

.mission > h2{

   padding-left: 0;
    text-align: center;
    font-weight: 900;
    padding-top: 1em;
    padding-bottom: 1em;
}


.mission p, .about_us p, footer p{
    margin-left: 15vw;
    width:70%;
    padding-bottom: 4em;

}
/* .miss{
    border-color: blue;
    } */

.our_team{
    background-color: #FF523D;
}

.our_team h2{
    color: white;
    padding-top: 2em;
}

.our_team div{

    /* border: 1px solid black; */
    width: fit-content;
    margin: auto;
    padding: 3em;
}

div h4, div p{
    
    text-align: center;
}

img{
    display: block;
    /* border: 1px solid black; */

    height: 10em;
    margin: auto;
    padding-bottom: 2em;
    
}


footer{
    background-color:#223C88 ;
    color: white;
}

